h1,h2,h3 {
  font-family: "Provicali";
}

body {
  background-color: lightblue;
}

table {
  width: 600px;
  /*border-spacing: 5px; */
}

th {
  text-align: left;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: ddd;
}
